<article class="listing">
  <h3>
    {{#link-to "skitours.show" skitour}}
      {{skitour.title}}
    {{/link-to}}</h3>
  <div>
    <span>Start:</span> {{skitour.start}}
  </div>
  <div>
    <span>Difficulty:</span> {{skitour.difficulty}}
  </div>
  <div>
    <span>Duration:</span> {{skitour.duration}}
  </div>
  <div>
    <span>Height difference:</span> {{skitour.heightdifference}}
  </div>
  <div>
    <span>Exposition:</span> {{skitour.exposition}}
  </div>
  <div>
    <span>Description:</span> {{skitour.description}}
  </div>
</article>
